.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
}
.freeBox__nLxLf {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.heroSection2:global(.__wab_instance) {
  position: relative;
}
.navigation__u6Lu:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  right: auto;
  z-index: auto;
}
.img__f2KgV {
  object-fit: cover;
  width: 40px;
}
.img__f2KgV > picture > img {
  object-fit: cover;
}
.img__f2KgV > .__wab_img-spacer > img {
  object-fit: cover;
}
.button__v8XzA:global(.__wab_instance) {
  position: relative;
}
.svg__zMb1H {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: XEy-tQANXH6D */;
}
.svg__utPn4 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: XEy-tQANXH6D */;
}
.button__abnvl:global(.__wab_instance) {
  position: relative;
}
.svg__o0F2S {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: XEy-tQANXH6D */;
}
.svg__xcpk1 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: XEy-tQANXH6D */;
}
.button__fxPqm:global(.__wab_instance) {
  position: relative;
}
.svg__hlztS {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: XEy-tQANXH6D */;
}
.svg__rg7Us {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: XEy-tQANXH6D */;
}
.button__twqZw:global(.__wab_instance) {
  position: relative;
}
.svg__vhBXa {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: XEy-tQANXH6D */;
}
.svg__jZrcy {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: XEy-tQANXH6D */;
}
.button__poxAk:global(.__wab_instance) {
  position: relative;
}
.svg__sCk6R {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: XEy-tQANXH6D */;
}
.svg__yE7Da {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: XEy-tQANXH6D */;
}
.button__oDuSb:global(.__wab_instance) {
  position: relative;
}
.svg__ya5Tx {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: XEy-tQANXH6D */;
}
.svg__rjywR {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: XEy-tQANXH6D */;
}
.freeBox___5L1Ns {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox___5L1Ns > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox___5L1Ns > :global(.__wab_flex-container) > *,
.freeBox___5L1Ns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___5L1Ns > :global(.__wab_flex-container) > picture > img,
.freeBox___5L1Ns
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__h9RJa {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__h9RJa > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__h9RJa > :global(.__wab_flex-container) > *,
.freeBox__h9RJa > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__h9RJa > :global(.__wab_flex-container) > picture > img,
.freeBox__h9RJa
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__qVl4K {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  height: auto;
}
.text__kbX8 {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #05050599 /* plasmic-token: XEy-tQANXH6D */;
  background: #ffffff;
  padding: 4px 8px;
}
.text__dwDxt {
  font-size: 60px;
  font-weight: 800;
  line-height: 1;
  color: #000000d9 /* plasmic-token: oNQSCRm6FxBI */;
}
.text__xGeYf {
  font-size: 20px;
  color: #05050599 /* plasmic-token: XEy-tQANXH6D */;
  line-height: 28px;
}
.freeBox___4NuEr {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox___4NuEr > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox___4NuEr > :global(.__wab_flex-container) > *,
.freeBox___4NuEr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___4NuEr > :global(.__wab_flex-container) > picture > img,
.freeBox___4NuEr
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.button__t3BUm:global(.__wab_instance) {
  position: relative;
}
.svg__aaPzK {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: XEy-tQANXH6D */;
}
.text__xp9O {
  height: auto;
}
.svg__ydNe {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: XEy-tQANXH6D */;
}
.button__nPeJi:global(.__wab_instance) {
  position: relative;
}
.svg__x9Fgm {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: XEy-tQANXH6D */;
}
.text__y086 {
  height: auto;
  font-weight: 400;
}
.svg__ajmkx {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: XEy-tQANXH6D */;
}
.loginFrom__pSs0Q:global(.__wab_instance) {
  position: relative;
}
.freeBox___6ViLy {
  display: flex;
  flex-direction: column;
  height: auto;
}
.freeBox___6ViLy > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox___6ViLy > :global(.__wab_flex-container) > *,
.freeBox___6ViLy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___6ViLy > :global(.__wab_flex-container) > picture > img,
.freeBox___6ViLy
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__qtxr {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.h2 {
  font-size: 48px;
  font-weight: 800;
  color: #000000d9 /* plasmic-token: oNQSCRm6FxBI */;
  line-height: 1;
}
.text__tZtOb {
  font-size: 20px;
  color: #05050599 /* plasmic-token: XEy-tQANXH6D */;
  text-align: left;
  line-height: 28px;
}
.freeBox__l5Est {
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 960px;
}
.freeBox__l5Est > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__l5Est > :global(.__wab_flex-container) > *,
.freeBox__l5Est > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__l5Est > :global(.__wab_flex-container) > picture > img,
.freeBox__l5Est
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.freeBox__pcj1M {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__pcj1M > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
}
.freeBox__pcj1M > :global(.__wab_flex-container) > *,
.freeBox__pcj1M > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pcj1M > :global(.__wab_flex-container) > picture > img,
.freeBox__pcj1M
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__pcj1M {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__pcj1M > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__pcj1M > :global(.__wab_flex-container) > *,
  .freeBox__pcj1M > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__pcj1M > :global(.__wab_flex-container) > picture > img,
  .freeBox__pcj1M
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 24px;
  }
}
.valueprop__lHuM:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__knK0G {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.svg___7MyRx {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #f2f2f7 /* plasmic-token: WVCnb5gEJt38 */;
}
.valueprop__gfen:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__m1ZYn {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.svg__smTwM {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #f2f2f7 /* plasmic-token: WVCnb5gEJt38 */;
}
.valueprop__x52G4:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__r94Qc {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.svg__uAbXw {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #f2f2f7 /* plasmic-token: WVCnb5gEJt38 */;
}
.valueprop__nnFhm:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__dMyK {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.svg__nx9Nb {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #f2f2f7 /* plasmic-token: WVCnb5gEJt38 */;
}
.text__z8O3N {
  height: auto;
}
.freeBox__v0Gka {
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 960px;
}
.freeBox__v0Gka > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__v0Gka > :global(.__wab_flex-container) > *,
.freeBox__v0Gka > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__v0Gka > :global(.__wab_flex-container) > picture > img,
.freeBox__v0Gka
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.freeBox__pKaVh {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__pKaVh > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
}
.freeBox__pKaVh > :global(.__wab_flex-container) > *,
.freeBox__pKaVh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pKaVh > :global(.__wab_flex-container) > picture > img,
.freeBox__pKaVh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__pKaVh {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__pKaVh > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__pKaVh > :global(.__wab_flex-container) > *,
  .freeBox__pKaVh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__pKaVh > :global(.__wab_flex-container) > picture > img,
  .freeBox__pKaVh
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 24px;
  }
}
.valueprop__naowX:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__sDsce {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.svg__yj5Ki {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #f2f2f7 /* plasmic-token: WVCnb5gEJt38 */;
}
.text__tGgc7 {
  height: auto;
}
.valueprop__bI4M:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__zF1TZ {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.svg__onrI8 {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #f2f2f7 /* plasmic-token: WVCnb5gEJt38 */;
}
.valueprop___3Qvyb:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__hvrGn {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.svg___1UXfz {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #f2f2f7 /* plasmic-token: WVCnb5gEJt38 */;
}
.valueprop___8IbYw:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___52FZr {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.svg__vivxp {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #f2f2f7 /* plasmic-token: WVCnb5gEJt38 */;
}
.freeBox__kLBaQ {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.freeBox__qJbSh {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__qJbSh > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__qJbSh > :global(.__wab_flex-container) > *,
.freeBox__qJbSh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qJbSh > :global(.__wab_flex-container) > picture > img,
.freeBox__qJbSh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__mbllT {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
  color: #32d74b /* plasmic-token: bnv3j30G9XSV */;
}
.h2__xobIq {
  font-size: 48px;
  font-weight: 800;
  color: #ffffffd9 /* plasmic-token: 2cPJ1QI0qehu */;
  line-height: 1;
}
.text__bYsJh {
  font-size: 20px;
  color: #ffffff80 /* plasmic-token: UPtPpTL-eWa9 */;
  line-height: 28px;
  height: auto;
}
.button__j3Vq:global(.__wab_instance) {
  position: relative;
}
.svg__puKK {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: XEy-tQANXH6D */;
}
.text___1SsBc {
  color: #0a84ff /* plasmic-token: kPXOjzMciXSX */;
}
.svg__raat2 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #0a84ff /* plasmic-token: kPXOjzMciXSX */;
}
.freeBox__tbt5K {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;
  min-width: 0;
}
.listItem__fxqkL:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__rBeqv {
  color: #ffffffd9 /* plasmic-token: 2cPJ1QI0qehu */;
}
.svg__r04Ez {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #32d74b /* plasmic-token: bnv3j30G9XSV */;
}
.listItem___9CnZq:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__ztqcG {
  color: #ffffffd9 /* plasmic-token: 2cPJ1QI0qehu */;
}
.svg__ognwr {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #32d74b /* plasmic-token: bnv3j30G9XSV */;
}
.listItem__qzTH:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__zmApk {
  height: auto;
  color: #ffffffd9 /* plasmic-token: 2cPJ1QI0qehu */;
}
.svg__uqXRx {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #32d74b /* plasmic-token: bnv3j30G9XSV */;
}
.listItem__npZtK:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__oWbt2 {
  height: auto;
  color: #ffffffd9 /* plasmic-token: 2cPJ1QI0qehu */;
}
.svg__xUooV {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #32d74b /* plasmic-token: bnv3j30G9XSV */;
}
.listItem__vgCIe:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__uGyam {
  height: auto;
  color: #ffffffd9 /* plasmic-token: 2cPJ1QI0qehu */;
}
.svg__zmhlH {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #32d74b /* plasmic-token: bnv3j30G9XSV */;
}
.freeBox__gg96K {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.freeBox__nRhk {
  display: flex;
  flex-direction: column;
}
.freeBox__nRhk > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__nRhk > :global(.__wab_flex-container) > *,
.freeBox__nRhk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nRhk > :global(.__wab_flex-container) > picture > img,
.freeBox__nRhk
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__hpwKl {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.text__qwWw9 {
  font-size: 48px;
  font-weight: 800;
  color: #ffffffd9 /* plasmic-token: 2cPJ1QI0qehu */;
  line-height: 1;
}
.text__dqfce {
  font-size: 20px;
  color: #ffffff80 /* plasmic-token: UPtPpTL-eWa9 */;
  text-align: center;
  line-height: 28px;
  height: auto;
}
.freeBox__nys1 {
  display: flex;
  position: relative;
  flex-direction: row;
  max-width: 1920px;
}
.freeBox__nys1 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nys1 {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nys1 > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nys1 > :global(.__wab_flex-container) > *,
  .freeBox__nys1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__nys1 > :global(.__wab_flex-container) > picture > img,
  .freeBox__nys1
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__c5427 {
  box-shadow: 0px 10px 10px 0px #00000026;
  display: flex;
  position: relative;
  flex-direction: column;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  overflow: hidden;
  max-width: 400px;
  background: #f2f2f7;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__c5427 {
    border-radius: 16px;
  }
}
.freeBox__uFazO {
  display: flex;
  position: relative;
  flex-direction: column;
  z-index: 999;
  padding: 32px;
}
.freeBox__uFazO > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__uFazO > :global(.__wab_flex-container) > *,
.freeBox__uFazO > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__uFazO > :global(.__wab_flex-container) > picture > img,
.freeBox__uFazO
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text___11UKp {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
}
.freeBox__psYtQ {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__psYtQ > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__psYtQ > :global(.__wab_flex-container) > *,
.freeBox__psYtQ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__psYtQ > :global(.__wab_flex-container) > picture > img,
.freeBox__psYtQ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.freeBox__hvvTm {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.text___5Ibqm {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  color: #000000d9 /* plasmic-token: oNQSCRm6FxBI */;
  width: auto;
  display: inline-block;
}
.text___6LOla {
  font-size: 48px;
  font-weight: 800;
  line-height: 1;
  color: #000000d9 /* plasmic-token: oNQSCRm6FxBI */;
  width: auto;
  display: inline-block;
}
.text__oyRn5 {
  line-height: 28px;
  color: #05050599 /* plasmic-token: XEy-tQANXH6D */;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 20px;
  height: auto;
}
.divider__oTlyz:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.freeBox__qYrx {
  display: flex;
  position: relative;
  flex-direction: column;
  background: #f2f2f7;
  padding: 32px;
}
.freeBox__qYrx > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__qYrx > :global(.__wab_flex-container) > *,
.freeBox__qYrx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qYrx > :global(.__wab_flex-container) > picture > img,
.freeBox__qYrx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__pfCh3 {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__pfCh3 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__pfCh3 > :global(.__wab_flex-container) > *,
.freeBox__pfCh3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pfCh3 > :global(.__wab_flex-container) > picture > img,
.freeBox__pfCh3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.valueprop__mTebv:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__cww57 {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.svg__lwcgv {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #f2f2f7 /* plasmic-token: WVCnb5gEJt38 */;
}
.valueprop__kkgk:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__qnTs1 {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.svg__gwuzN {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #f2f2f7 /* plasmic-token: WVCnb5gEJt38 */;
}
.svg__kMdpb {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: XEy-tQANXH6D */;
}
.text__snAM {
  height: auto;
}
.svg__gn3EJ {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: XEy-tQANXH6D */;
}
.freeBox__fu4E4 {
  box-shadow: 0px 10px 10px 0px #00000026;
  display: flex;
  position: relative;
  flex-direction: column;
  overflow: hidden;
  background: #f2f2f7;
  border-radius: 16px;
  border: 4px solid #34c759 /* plasmic-token: NpPKIwlR1DMV */;
}
.freeBox__eHr0N {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 32px;
}
.freeBox__eHr0N > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__eHr0N > :global(.__wab_flex-container) > *,
.freeBox__eHr0N > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__eHr0N > :global(.__wab_flex-container) > picture > img,
.freeBox__eHr0N
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__qOAmK {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
}
.freeBox___7I2K6 {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox___7I2K6 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox___7I2K6 > :global(.__wab_flex-container) > *,
.freeBox___7I2K6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___7I2K6 > :global(.__wab_flex-container) > picture > img,
.freeBox___7I2K6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.freeBox__hAvue {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.text__apNvt {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  color: #000000d9 /* plasmic-token: oNQSCRm6FxBI */;
  width: auto;
  display: inline-block;
}
.text__oVCvQ {
  font-size: 48px;
  font-weight: 800;
  line-height: 1;
  color: #000000d9 /* plasmic-token: oNQSCRm6FxBI */;
  width: auto;
  display: inline-block;
}
.text__kU5D5 {
  line-height: 28px;
  color: #05050599 /* plasmic-token: XEy-tQANXH6D */;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 20px;
}
.divider__c4DmD:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.freeBox__fNo3 {
  display: flex;
  position: relative;
  flex-direction: column;
  background: #f2f2f7;
  padding: 32px;
}
.freeBox__fNo3 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__fNo3 > :global(.__wab_flex-container) > *,
.freeBox__fNo3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fNo3 > :global(.__wab_flex-container) > picture > img,
.freeBox__fNo3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__hoqVs {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__hoqVs > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__hoqVs > :global(.__wab_flex-container) > *,
.freeBox__hoqVs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hoqVs > :global(.__wab_flex-container) > picture > img,
.freeBox__hoqVs
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.valueprop___5Bft:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__yuclg {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.svg__f1K9D {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #f2f2f7 /* plasmic-token: WVCnb5gEJt38 */;
}
.valueprop__g48Hu:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text___1RKyd {
  height: auto;
}
.svg__qXdW {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.svg__hl6Pn {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #f2f2f7 /* plasmic-token: WVCnb5gEJt38 */;
}
.valueprop__e0Rvf:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___0CJ9P {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.svg__bfYoJ {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #f2f2f7 /* plasmic-token: WVCnb5gEJt38 */;
}
.valueprop___8CiD:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__hQuhi {
  height: auto;
}
.svg__mYld6 {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.svg__cPkdO {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #f2f2f7 /* plasmic-token: WVCnb5gEJt38 */;
}
.svg__lxXOm {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: XEy-tQANXH6D */;
}
.text__d0WiJ {
  height: auto;
}
.svg__uoTj {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: XEy-tQANXH6D */;
}
.freeBox__jh0Es {
  box-shadow: 0px 10px 10px 0px #00000026;
  display: flex;
  position: relative;
  flex-direction: column;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: hidden;
  max-width: 400px;
  background: #f2f2f7;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__jh0Es {
    border-radius: 16px;
  }
}
.freeBox__s7HcH {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 32px;
}
.freeBox__s7HcH > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__s7HcH > :global(.__wab_flex-container) > *,
.freeBox__s7HcH > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__s7HcH > :global(.__wab_flex-container) > picture > img,
.freeBox__s7HcH
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text___6ZFm {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
}
.freeBox___58Gny {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox___58Gny > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox___58Gny > :global(.__wab_flex-container) > *,
.freeBox___58Gny > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___58Gny > :global(.__wab_flex-container) > picture > img,
.freeBox___58Gny
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.freeBox__qIfhB {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.text__snt1N {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  color: #000000d9 /* plasmic-token: oNQSCRm6FxBI */;
  width: auto;
  display: inline-block;
}
.text__thBmH {
  font-size: 48px;
  font-weight: 800;
  line-height: 1;
  color: #000000d9 /* plasmic-token: oNQSCRm6FxBI */;
  width: auto;
  display: inline-block;
}
.text__vpmG {
  line-height: 28px;
  color: #05050599 /* plasmic-token: XEy-tQANXH6D */;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 20px;
}
.divider__mOlx7:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.freeBox__wjghG {
  display: flex;
  position: relative;
  flex-direction: column;
  background: #f2f2f7;
  padding: 32px;
}
.freeBox__wjghG > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__wjghG > :global(.__wab_flex-container) > *,
.freeBox__wjghG > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wjghG > :global(.__wab_flex-container) > picture > img,
.freeBox__wjghG
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__mI6O {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__mI6O > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__mI6O > :global(.__wab_flex-container) > *,
.freeBox__mI6O > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mI6O > :global(.__wab_flex-container) > picture > img,
.freeBox__mI6O
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.valueprop__f7V6:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__ct0Gc {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.svg__lj8Qb {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #f2f2f7 /* plasmic-token: WVCnb5gEJt38 */;
}
.valueprop__n19Qf:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__kGzYt {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.svg__cPvbq {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #f2f2f7 /* plasmic-token: WVCnb5gEJt38 */;
}
.svg__i34Yv {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: XEy-tQANXH6D */;
}
.text__xPdCp {
  height: auto;
}
.svg__sgziv {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: XEy-tQANXH6D */;
}
.shopBanners:global(.__wab_instance) {
  position: relative;
}
.banner___0Op1D:global(.__wab_instance) {
  position: relative;
}
.img__zvbj5 {
  position: relative;
  align-self: auto;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.img__zvbj5 > picture > img {
  object-fit: cover;
}
.img__zvbj5 > .__wab_img-spacer > img {
  object-fit: cover;
}
.text__kdWup {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
}
.text__jh27 {
  font-size: 48px;
  font-weight: 800;
  color: #000000d9 /* plasmic-token: oNQSCRm6FxBI */;
  line-height: 1;
  height: auto;
}
.svg__rfMsZ {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: XEy-tQANXH6D */;
}
.text___6Edxs {
  height: auto;
  width: auto;
  color: #007aff /* plasmic-token: xzKF_3ytGZEP */;
  white-space: pre;
  display: inline-block;
}
.svg__mrDr2 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: XEy-tQANXH6D */;
}
.freeBox__r4LvQ {
  display: flex;
  position: relative;
  flex-direction: row;
  max-width: 1920px;
  width: 100%;
  min-width: 0;
}
.freeBox__r4LvQ > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__r4LvQ > :global(.__wab_flex-container) > *,
.freeBox__r4LvQ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__r4LvQ > :global(.__wab_flex-container) > picture > img,
.freeBox__r4LvQ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__r4LvQ {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__r4LvQ > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__r4LvQ > :global(.__wab_flex-container) > *,
  .freeBox__r4LvQ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__r4LvQ > :global(.__wab_flex-container) > picture > img,
  .freeBox__r4LvQ
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.img__uFgz {
  position: relative;
  align-self: auto;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.img__uFgz > picture > img {
  object-fit: cover;
}
.img__uFgz > .__wab_img-spacer > img {
  object-fit: cover;
}
.text__s87L4 {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
}
.text__n4B6L {
  font-size: 48px;
  font-weight: 800;
  color: #000000d9 /* plasmic-token: oNQSCRm6FxBI */;
  line-height: 1;
  height: auto;
}
.svg___16N9C {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: XEy-tQANXH6D */;
}
.text__mxMrP {
  height: auto;
  width: auto;
  color: #007aff /* plasmic-token: xzKF_3ytGZEP */;
  white-space: pre;
  display: inline-block;
}
.svg__myTc9 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: XEy-tQANXH6D */;
}
.banner__nSQP:global(.__wab_instance) {
  position: relative;
}
.img__qMoh4 {
  position: relative;
  align-self: auto;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.img__qMoh4 > picture > img {
  object-fit: cover;
}
.img__qMoh4 > .__wab_img-spacer > img {
  object-fit: cover;
}
.text__kCvBp {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
}
.text__hMs0P {
  font-size: 48px;
  font-weight: 800;
  color: #000000d9 /* plasmic-token: oNQSCRm6FxBI */;
  line-height: 1;
  height: auto;
}
.svg___6Nzr {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: XEy-tQANXH6D */;
}
.text___0L5TX {
  height: auto;
  width: auto;
  color: #007aff /* plasmic-token: xzKF_3ytGZEP */;
  white-space: pre;
  display: inline-block;
}
.svg__mEhyK {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: XEy-tQANXH6D */;
}
.logoCloudSection2:global(.__wab_instance) {
  position: relative;
}
.img__jr8Z4 {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__jr8Z4 > picture > img {
  object-fit: cover;
}
.img__jr8Z4 > .__wab_img-spacer > img {
  object-fit: cover;
}
.img___4RpFv {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img___4RpFv > picture > img {
  object-fit: cover;
}
.img___4RpFv > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__lxuua {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__lxuua > picture > img {
  object-fit: cover;
}
.img__lxuua > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__aMo5N {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__aMo5N > picture > img {
  object-fit: cover;
}
.img__aMo5N > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__ca5Yf {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__ca5Yf > picture > img {
  object-fit: cover;
}
.img__ca5Yf > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox___8DiX {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.testimonial__dAfA:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.img__vuAmQ {
  position: relative;
  left: auto;
  top: auto;
  width: 64px;
  height: 64px;
  border-radius: 32px;
}
.testimonial__fpOxV:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.img___54Qps {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 64px;
  height: 64px;
  border-radius: 32px;
}
.img___54Qps > picture > img {
  object-fit: cover;
}
.img___54Qps > .__wab_img-spacer > img {
  object-fit: cover;
}
.testimonial__boKo5:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__kVjwN {
  height: auto;
}
.text__o9F4F {
  height: auto;
}
.img__bsLso {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 64px;
  height: 64px;
  border-radius: 32px;
}
.img__bsLso > picture > img {
  object-fit: cover;
}
.img__bsLso > .__wab_img-spacer > img {
  object-fit: cover;
}
.testimonial__fnmLw:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__kvUua {
  height: auto;
}
.img___21Yzs {
  position: relative;
  left: auto;
  top: auto;
  width: 64px;
  height: 64px;
  border-radius: 32px;
}
.callToActionSection1:global(.__wab_instance) {
  position: relative;
}
.img__mRz05 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.img__mRz05 > picture > img {
  object-fit: cover;
}
.img__mRz05 > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__mGnfZ {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  mix-blend-mode: multiply;
  background: #007aff;
}
.freeBox__qZ8Kf {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__qZ8Kf > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__qZ8Kf > :global(.__wab_flex-container) > *,
.freeBox__qZ8Kf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qZ8Kf > :global(.__wab_flex-container) > picture > img,
.freeBox__qZ8Kf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text___2A47B {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
  color: #ffffffd9 /* plasmic-token: 2cPJ1QI0qehu */;
}
.text__q7Ppc {
  font-size: 48px;
  font-weight: 800;
  color: #ffffffd9 /* plasmic-token: 2cPJ1QI0qehu */;
  line-height: 1;
}
.text___6VV1W {
  font-size: 20px;
  color: #ffffff80 /* plasmic-token: UPtPpTL-eWa9 */;
  line-height: 28px;
}
.freeBox__q2Z9D {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__q2Z9D > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__q2Z9D > :global(.__wab_flex-container) > *,
.freeBox__q2Z9D > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__q2Z9D > :global(.__wab_flex-container) > picture > img,
.freeBox__q2Z9D
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.button__i4Q7B:global(.__wab_instance) {
  position: relative;
}
.svg__jczZ {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: XEy-tQANXH6D */;
}
.svg__bx8Mu {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: XEy-tQANXH6D */;
}
.button__pVrGu:global(.__wab_instance) {
  position: relative;
}
.svg__kI54F {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: XEy-tQANXH6D */;
}
.text___6Ywog {
  height: auto;
  font-weight: 400;
}
.svg__grvoS {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: XEy-tQANXH6D */;
}
