.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  min-width: 0;
  min-height: 0;
}
.heroSectionArena:global(.__wab_instance) {
  position: relative;
}
.navigation__alRvr:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  right: auto;
  z-index: auto;
}
.img__rLiEj {
  object-fit: cover;
  width: 40px;
}
.img__rLiEj > picture > img {
  object-fit: cover;
}
.img__rLiEj > .__wab_img-spacer > img {
  object-fit: cover;
}
.button___8Rajx:global(.__wab_instance) {
  position: relative;
}
.svg__zROt {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: XEy-tQANXH6D */;
}
.svg__kBxie {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: XEy-tQANXH6D */;
}
.button__elSz:global(.__wab_instance) {
  position: relative;
}
.svg__epdK3 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: XEy-tQANXH6D */;
}
.svg__iH3S {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: XEy-tQANXH6D */;
}
.button__cYlZ:global(.__wab_instance) {
  position: relative;
}
.svg__sFrx8 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: XEy-tQANXH6D */;
}
.svg__bxO3H {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: XEy-tQANXH6D */;
}
.button__eg2Jq:global(.__wab_instance) {
  position: relative;
}
.svg__bvwyk {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: XEy-tQANXH6D */;
}
.svg__gbYTz {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: XEy-tQANXH6D */;
}
.button__usnj1:global(.__wab_instance) {
  position: relative;
}
.svg__dPe8Z {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: XEy-tQANXH6D */;
}
.svg__yi4TS {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: XEy-tQANXH6D */;
}
.button__uk9VT:global(.__wab_instance) {
  position: relative;
}
.svg__bsc7R {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: XEy-tQANXH6D */;
}
.svg__clSuW {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: XEy-tQANXH6D */;
}
.freeBox__mlrE {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__mlrE > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__mlrE > :global(.__wab_flex-container) > *,
.freeBox__mlrE > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mlrE > :global(.__wab_flex-container) > picture > img,
.freeBox__mlrE
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__zfQp6 {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__zfQp6 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__zfQp6 > :global(.__wab_flex-container) > *,
.freeBox__zfQp6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zfQp6 > :global(.__wab_flex-container) > picture > img,
.freeBox__zfQp6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__i22Mw {
  font-size: 60px;
  font-weight: 800;
  line-height: 1;
  color: #000000d9 /* plasmic-token: oNQSCRm6FxBI */;
}
.loginFrom__h7Vz:global(.__wab_instance) {
  position: relative;
}
