.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 128px;
}
.freeBox {
  display: flex;
  position: relative;
  left: auto;
  top: auto;
  max-width: 1920px;
  flex-direction: row;
}
.freeBox > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: calc(0px - 128px);
  width: calc(100% + 128px);
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox > :global(.__wab_flex-container) > *,
.freeBox > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox > :global(.__wab_flex-container) > picture > img,
.freeBox
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 128px;
  margin-top: 64px;
}
.img__kxutu {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__kxutu > picture > img {
  object-fit: cover;
}
.img__kxutu > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__azSAa {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__azSAa > picture > img {
  object-fit: cover;
}
.img__azSAa > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__xjclD {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__xjclD > picture > img {
  object-fit: cover;
}
.img__xjclD > .__wab_img-spacer > img {
  object-fit: cover;
}
.img___28UTr {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img___28UTr > picture > img {
  object-fit: cover;
}
.img___28UTr > .__wab_img-spacer > img {
  object-fit: cover;
}
.img___8QAww {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img___8QAww > picture > img {
  object-fit: cover;
}
.img___8QAww > .__wab_img-spacer > img {
  object-fit: cover;
}
