.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox {
  display: flex;
  position: absolute;
  flex-direction: column;
  max-width: 1200px;
  width: 100%;
  height: auto;
  bottom: auto;
  top: 0px;
  z-index: 1;
  min-width: 0;
}
.navigation___460Ym:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  right: auto;
  z-index: auto;
}
.img__srl6G {
  object-fit: cover;
  width: 40px;
}
.img__srl6G > picture > img {
  object-fit: cover;
}
.img__srl6G > .__wab_img-spacer > img {
  object-fit: cover;
}
.button__tJz58:global(.__wab_instance) {
  position: relative;
}
.svg__gYxTh {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: XEy-tQANXH6D */;
}
.svg__qAyT8 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: XEy-tQANXH6D */;
}
.button__n6Nt9:global(.__wab_instance) {
  position: relative;
}
.svg__sePyr {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: XEy-tQANXH6D */;
}
.svg__z168N {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: XEy-tQANXH6D */;
}
.button__nIg4G:global(.__wab_instance) {
  position: relative;
}
.svg__ccuvu {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: XEy-tQANXH6D */;
}
.svg__hdA3C {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: XEy-tQANXH6D */;
}
.button__vcWiU:global(.__wab_instance) {
  position: relative;
}
.svg__x4Cbe {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: XEy-tQANXH6D */;
}
.svg__eDzgv {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: XEy-tQANXH6D */;
}
.button__tGpbP:global(.__wab_instance) {
  position: relative;
}
.svg__vKn2P {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: XEy-tQANXH6D */;
}
.svg__c8Fiv {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: XEy-tQANXH6D */;
}
.button__xomhG:global(.__wab_instance) {
  position: relative;
}
.svg__mC6V {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: XEy-tQANXH6D */;
}
.svg__b4Olh {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: XEy-tQANXH6D */;
}
.hero3 {
  display: flex;
  position: relative;
  width: 100%;
  justify-content: center;
  min-width: 0;
  padding: 128px 64px 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .hero3 {
    padding: 256px 32px 32px;
  }
}
.img {
  position: absolute;
  object-fit: cover;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img > picture > img {
  object-fit: cover;
}
.img > .__wab_img-spacer > img {
  object-fit: cover;
}
.background3 {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #ffffff80;
}
.foreground {
  display: flex;
  position: relative;
  max-width: 1200px;
}
.foreground > :global(.__wab_flex-container) {
  align-items: center;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.foreground > :global(.__wab_flex-container) > *,
.foreground > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground > :global(.__wab_flex-container) > picture > img,
.foreground
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .foreground {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .foreground > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .foreground > :global(.__wab_flex-container) > *,
  .foreground > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .foreground > :global(.__wab_flex-container) > picture > img,
  .foreground
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.freeBox__ok3Wp {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__ok3Wp > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__ok3Wp > :global(.__wab_flex-container) > *,
.freeBox__ok3Wp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ok3Wp > :global(.__wab_flex-container) > picture > img,
.freeBox__ok3Wp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__yh8Hu {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__yh8Hu > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__yh8Hu > :global(.__wab_flex-container) > *,
.freeBox__yh8Hu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yh8Hu > :global(.__wab_flex-container) > picture > img,
.freeBox__yh8Hu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox___8M1J6 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  height: auto;
}
.text__sVcfQ {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #05050599 /* plasmic-token: XEy-tQANXH6D */;
  background: #ffffff;
  padding: 4px 8px;
}
.text__lxyfm {
  font-size: 60px;
  font-weight: 800;
  line-height: 1;
  color: #000000d9 /* plasmic-token: oNQSCRm6FxBI */;
}
.text__o1YTl {
  font-size: 20px;
  color: #05050599 /* plasmic-token: XEy-tQANXH6D */;
  line-height: 28px;
}
.freeBox__ibDuw {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__ibDuw > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__ibDuw > :global(.__wab_flex-container) > *,
.freeBox__ibDuw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ibDuw > :global(.__wab_flex-container) > picture > img,
.freeBox__ibDuw
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.button___6A6Kl:global(.__wab_instance) {
  position: relative;
}
.svg___7Q3O {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: XEy-tQANXH6D */;
}
.text__mnZdE {
  height: auto;
}
.svg__tMlfe {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: XEy-tQANXH6D */;
}
.button__nWaO:global(.__wab_instance) {
  position: relative;
}
.svg__kBoJi {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: XEy-tQANXH6D */;
}
.text__my45 {
  height: auto;
  font-weight: 400;
}
.svg__ayYcJ {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: XEy-tQANXH6D */;
}
.loginFrom__dLqi0:global(.__wab_instance) {
  position: relative;
}
